.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: linear-gradient(#ffffff, #dfeafd);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    width: 400px;
    max-width: 90%;
}

.book-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 5px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-image {
    width: auto;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}
